html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.body {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  height: 100%;
  margin: 0;
}

.header {
  display: flex;
  background-color: plum;
  height: 40px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header-item {
  font-size: 16px;
  color: aliceblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

.footer {
  display: flex;
  background-color: lightcoral;
  height: 40px;
  padding: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-item {
  text-align: center;
  color: white;
  font-size: 16px;
}

.main {
  flex: 1 1 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: stretch;
}

.aside {
  display: flex;
  flex-direction: column;
  background-color: lightpink;
  flex: 0 0 25%;
}

.aside-item {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 15px;
}

.content {
  flex: auto;
  border-left: 1px solid white;
  background-color: antiquewhite;
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .content, .aside-item, .header-item, .footer-item, .body{
    font-size: 50%;
  }
}
